<!doctype html>
<html>
<head>
  <title>Red2Blue GOTV texting assignment request</title>
  <style>
    .errors {
      color: red;
    }
  </style>
  <script src='web/assignment-form.js'></script>
</head>
<body onload='main()'>
  <form method="POST" name="form" id ="form">
    {% macro field_label(field) %}
      <label for='{{ field.name }}'>{{ field.label }}</label>
      {% if field.errors %}
	<ul class='errors'>
	{% for error in field.errors %}
	  <li>{{ error }}</li>
	{% endfor %}
	</ul>
      {% endif %}
    {% endmacro %}
    {% if error %}
    <div id='error'>
      {{ error }}
    </div>
    {% endif %}
    <div>
      {{ field_label(form.texter) }}
      {{ form.texter }}
    </div>
    <div>
      {{ field_label(form.campaign) }}
      <select name="campaign" id="campaign" onchange="change_campaign(event)">
	{% for name, number in campaigns.items() %}
	  <option value="{{ name }}" data-count="{{number}}"
	    {% if number <= 0 %}disabled='disabled'{% endif %}
	    {% if name == form.campaign.data %}selected='selected'{% endif %}>
	    {{ name }} ({{ number }})
	  </option>
	{% endfor %}
      </select>
    </div>
    <div>
      {{ field_label(form.number) }}
      {{ form.number }}
    </div>
    <div>
      {{ form.check1 }}
      {{ field_label(form.check1) }}
    </div>
    <div>
      {{ form.check2 }}
      {{ field_label(form.check2) }}
    </div>
    <input type='submit'>
  </form>
</body>
</html>
